directives/n8n_templates/template-VOICE-VOICE-BOOKING.json
{
    "nodes": [
        {
            "parameters": {
                "content": "## 🎙️ AI VOICE BOOKING TEMPLATE (Vapi/VIPY)\nThis workflow handles REAL-TIME voice calls via Vapi. It processes function calls for booking and returns status to the voice agent.",
                "height": 200,
                "width": 450,
                "color": 4
            },
            "id": "template-vapi-header",
            "name": "Header",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "content": "### 1. VAPI WEBHOOK\nThis endpoint receives the 'tool_call' from Vapi when the AI needs to check availability or book.",
                "height": 180,
                "width": 250,
                "color": 2
            },
            "id": "vapi-note-1",
            "name": "Note 1",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                0,
                250
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "vapi-voice-booking",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "vapi-webhook",
            "name": "Vapi Tool Call",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                450
            ],
            "webhookId": "vapi-voice-booking"
        },
        {
            "parameters": {
                "jsCode": "// Extract function name and arguments from Vapi\nconst body = $input.all()[0].json.body;\nconst toolCall = body.message?.toolCalls?.[0] || body.message?.functionCall;\n\nif (!toolCall) {\n  return [{ json: { error: 'No tool call found' } }];\n}\n\nreturn [{\n  json: {\n    functionName: toolCall.name,\n    args: toolCall.arguments || {},\n    callId: toolCall.id,\n    customerPhone: body.message?.customer?.number || 'Unknown'\n  }\n}];"
            },
            "id": "vapi-parser",
            "name": "Parse Vapi Call",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                450
            ]
        },
        {
            "parameters": {
                "content": "### 2. LOGIC ROUTER\nDetermines if the AI is 'checking' or 'booking'.",
                "height": 180,
                "width": 250,
                "color": 6
            },
            "id": "vapi-note-2",
            "name": "Note 2",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                500,
                250
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "is-booking",
                            "leftValue": "={{ $json.functionName }}",
                            "rightValue": "book_appointment",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "vapi-switch",
            "name": "Action Type?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                500,
                450
            ]
        },
        {
            "parameters": {
                "content": "### 3. DATABASE SYNC\nConnects to your CRM or Postgres to save the lead/booking.",
                "height": 180,
                "width": 250,
                "color": 7
            },
            "id": "vapi-note-3",
            "name": "Note 3",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                800,
                250
            ]
        },
        {
            "parameters": {
                "jsCode": "// Simulate Database Check/Booking\nconst action = $('Action Type?').item.json.functionName;\nconst args = $('Parse Vapi Call').first().json.args;\n\nreturn [{\n  json: {\n    success: true,\n    message: action === 'book_appointment' ? `Confirmed for ${args.datetime}` : 'Time slot is available',\n    results: {\n      status: 'confirmed',\n      bookingId: 'BK-' + Date.now()\n    }\n  }\n}];"
            },
            "id": "vapi-sim-db",
            "name": "DB/Calendar Logic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                800,
                450
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Parse Vapi Call').first().json.callId }}\",\n      \"result\": \"{{ $json.message }}\"\n    }\n  ]\n}",
                "options": {}
            },
            "id": "vapi-respond",
            "name": "Reply to Voice Agent",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1100,
                450
            ]
        },
        {
            "parameters": {
                "content": "💡 **PRO TIP:**\nAlways return a direct 'result' string so the Voice Engine can speak it naturally back to the user.",
                "height": 120,
                "width": 250,
                "color": 5
            },
            "id": "vapi-pro-tip",
            "name": "Pro Tip",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
                1100,
                250
            ]
        }
    ],
    "connections": {
        "Vapi Tool Call": {
            "main": [
                [
                    {
                        "node": "Parse Vapi Call",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Vapi Call": {
            "main": [
                [
                    {
                        "node": "Action Type?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Action Type?": {
            "main": [
                [
                    {
                        "node": "DB/Calendar Logic",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "DB/Calendar Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DB/Calendar Logic": {
            "main": [
                [
                    {
                        "node": "Reply to Voice Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "meta": {
        "templateCredsSetupCompleted": true
    }
}